<tr>
  <th scope="row">{{favorite.id}}</th>
  <td class="{{classDowncase favorite.font.name}}">{{favorite.font.name}}</td>
  <td>{{favorite.font.font_type}}</td>
  <td>{{favorite.project}}</td>
  <td><a href="{{favorite.font.location}}" target="_blank">{{favorite.font.name}}</a></td>
</tr>
